ion-card {
    --background: #eeeeee;
    --color: #ffffff;
}

ion-card-header {
    --color: #00ff00;
}

ion-card-title {
    --color: #1d3030;
}

ion-card-subtitle {
    --color: #000000;
}

ion-card-content {
    color: #2F4F4F;
}

ion-content > ion-list > ion-list > ion-card > ion-card-content > ion-list {
    background: #eeeeee;
}
