<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let detail of serviceGroupNames">
    <ion-card>
      <ion-card-content>

        <ion-card-title>{{detail.name}}</ion-card-title>

        <ion-list>
          <div *ngIf="detail.url">
            <ion-item text-wrap>
              <ion-icon name="globe" item-left></ion-icon>
              <ion-button (click)='openLink(detail.url)'>
                <ion-ripple-effect></ion-ripple-effect>
                {{detail.url}}
              </ion-button>
            </ion-item>
          </div>

          <div *ngIf="detail.helpline">
            <ion-item text-wrap>
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="call" item-left></ion-icon>
              <a href="tel:{{detail.helpline}}">{{detail.helpline}} </a>
            </ion-item>
          </div>

          <div *ngIf="detail.contact_email">
            <ion-item text-wrap>
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="mail" item-left></ion-icon>
              <a href="mailto:{{detail.contact_email}}">{{detail.contact_email}} </a>
            </ion-item>
          </div>

          <div *ngIf="detail.description">
            <ion-item text-wrap>
              <ion-icon name="information-circle" item-left></ion-icon>
              <ion-note>{{detail.description}}</ion-note>
            </ion-item>
          </div>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>