<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'DATETIME' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Enter Clean Date -> </ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>

  <ion-card>
    <ion-card-header>Clean time in days</ion-card-header>
    <ion-card-content>
      <h1>{{ getCleanTime() }} days</h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Clean time in weeks</ion-card-header>
    <ion-card-content>
      <h1>{{ cleanTimeInWeeks }} weeks</h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Clean time in years</ion-card-header>
    <ion-card-content>
      <h1>{{ cleanTimeInYears }} years</h1>
    </ion-card-content>
  </ion-card>

  <div *ngIf="tag != 'none'">
    <ion-card>
      <ion-card-header>Clean time birthday!</ion-card-header>
      <ion-card-content>
        <h1>{{ tag }}</h1>
        <ion-img [src]='keytagImage'></ion-img>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>