
<div>
  <ion-list>
    <ion-item>
      <ion-text>
        <p class="ion-1x">&nbsp; {{ selectedDay | translate }} : {{ displayLower }} - {{ displayUpper }} </p>
      </ion-text>
    </ion-item>
    <ion-item class="ion-1x">
      <ion-select [(ngModel)]="selectedDay" (ionChange)=setDay() interface="popover" cancelText="{{'CANCEL' | translate}}">
        <ion-select-option *ngFor="let selectedDay of days" [value]="selectedDay" >{{ selectedDay | translate }}</ion-select-option>
      </ion-select>
      <ion-range 
        [(ngModel)]="hourRangeValues" 
        (ionChange)=setHourRangeValues() 
        dualKnobs="true" 
        min="00" 
        max="23" 
        step="1" 
        snaps="true" 
        pin="true" 
        debounce="350">
        <ion-icon slot="start" name="time-outline"></ion-icon>
        <ion-icon slot="end" name="time-outline"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
</div>

<div *ngFor="let dailyList of meetingListGroupedByDay; let i = index" (click)="toggleDay(i)" [ngClass]="{active: isDayShown(i)}">
  <ion-item-divider sticky="true" [color]="isToday(dailyList[0].weekday_tinyint) ? 'secondary' : 'primary'">
    <div ngSwitch="{{ dailyList[0].weekday_tinyint }}">
      <div *ngSwitchCase="'1'">
        <h3>{{'SUNDAY' | translate}} ({{dayCount[0]}})</h3></div>
      <div *ngSwitchCase="'2'">
        <h3>{{'MONDAY' | translate}} ({{dayCount[1]}})</h3></div>
      <div *ngSwitchCase="'3'">
        <h3>{{'TUESDAY' | translate}} ({{dayCount[2]}})</h3></div>
      <div *ngSwitchCase="'4'">
        <h3>{{'WEDNESDAY' | translate}} ({{dayCount[3]}})</h3></div>
      <div *ngSwitchCase="'5'">
        <h3>{{'THURSDAY' | translate}} ({{dayCount[4]}})</h3></div>
      <div *ngSwitchCase="'6'">
        <h3>{{'FRIDAY' | translate}} ({{dayCount[5]}})</h3></div>
      <div *ngSwitchCase="'7'">
        <h3>{{'SATURDAY' | translate}} ({{dayCount[6]}})</h3></div>
      <div *ngSwitchDefault>Nothing Found.</div>
    </div>
    <ion-icon size="large" slot="end" [name]="isDayShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>

  </ion-item-divider>

  <div *ngIf="isDayShown(i)">
    <ion-list *ngFor="let meeting of dailyList; let j = index">
      <app-meeting-card [data]="meeting" MeetingType="{{ localMeetingType }}"></app-meeting-card>
    </ion-list>
  </div>
</div>
