<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'HOME' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding class="home">
  <div class="ion-text-center">
    <h1>{{'HOME_TITLE' | translate}}</h1>
    <ion-menu-toggle auto-hide="false">
      <ion-img style="width: 100%; " src="./assets/web_hi_res_512.png"></ion-img>
    </ion-menu-toggle>
  </div>
</ion-content>