
<ion-card text-wrap>

  <ion-card-header>
    <div ngSwitch="{{ meeting.weekday_tinyint }}">
      <div *ngSwitchCase="'1'" [ngClass]="'one'">
        <ion-badge color="sunday"><b>{{'SUNDAY' | translate}}   {{ meeting.start_time_raw  }} </b></ion-badge>
      </div>
      <div *ngSwitchCase="'2'" [ngClass]="'one'">
        <ion-badge color="monday"><b>{{'MONDAY' | translate}}   {{ meeting.start_time_raw }} </b></ion-badge>
      </div>
      <div *ngSwitchCase="'3'" [ngClass]="'one'">
        <ion-badge color="tuesday"><b>{{'TUESDAY' | translate}}   {{ meeting.start_time_raw }} </b></ion-badge>
      </div>
      <div *ngSwitchCase="'4'" [ngClass]="'one'">
        <ion-badge color="wednesday"><b>{{'WEDNESDAY' | translate}}   {{ meeting.start_time_raw }} </b></ion-badge>
      </div>
      <div *ngSwitchCase="'5'" [ngClass]="'one'">
        <ion-badge color="thursday"><b>{{'THURSDAY' | translate}}   {{ meeting.start_time_raw }} </b></ion-badge>
      </div>
      <div *ngSwitchCase="'6'" [ngClass]="'one'">
        <ion-badge color="friday"><b>{{'FRIDAY' | translate}}   {{ meeting.start_time_raw }} </b></ion-badge>
      </div>
      <div *ngSwitchCase="'7'" [ngClass]="'one'">
        <ion-badge color="saturday"><b>{{'SATURDAY' | translate}}   {{ meeting.start_time_raw  }} </b></ion-badge>
      </div>

      <div *ngSwitchDefault>Nothing Found.</div>
    </div>

    <div *ngIf="isTempClosed(meeting) === 'TEMPCLOSED'">
      <ion-chip color="danger" class="ion-text-wrap">
        <ion-label>{{'TEMP_CLOSED' | translate}}</ion-label>
      </ion-chip>
    </div>
  </ion-card-header>

  <ion-card-content>
    <h1>{{meeting.meeting_name}}</h1>

    <div *ngIf="getMeetingType(meeting) == 'TEMPCLOSED'">
      <ion-chip  color="danger">
        <ion-label>{{'TEMPCLOSED' | translate}}</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </div>

    <div *ngIf="(getMeetingType(meeting) == 'INPERSON' || getMeetingType(meeting) == 'HYBRID' || getMeetingType(meeting) == 'TEMPCLOSED' ) ">
      <div *ngIf="meeting.location_text">{{meeting.location_text}}<br></div>
      <div *ngIf="meeting.location_street">{{meeting.location_street}}<br></div>
      <div *ngIf="meeting.location_city_subsection">{{meeting.location_city_subsection}}<br></div>
      <div *ngIf="meeting.location_neighborhood">{{meeting.location_neighborhood}}<br></div>
      <div *ngIf="meeting.location_municipality">{{meeting.location_municipality}}<br></div>
      <div *ngIf="meeting.location_sub_province">{{meeting.location_sub_province}}<br></div>
      <div *ngIf="meeting.location_province">{{meeting.location_province}}<br></div>
      <div *ngIf="meeting.location_code_1">{{meeting.location_code_1}}<br></div>
      <div *ngIf="meeting.location_info">{{meeting.location_info}}<br></div>
      <div *ngIf="meeting.comments">{{meeting.comments}}<br></div>
      <div *ngIf="meeting.train_lines">{{'TRAIN' | translate}}: {{meeting.train_lines | tidyDelimiter }}<br></div>
      <div *ngIf="meeting.bus_lines">{{'BUS' | translate}}: {{meeting.bus_lines | tidyDelimiter }}<br></div>
    </div>

    <div *ngIf="meeting.virtual_meeting_additional_info">{{meeting.virtual_meeting_additional_info}}<br></div>
    <div *ngIf="meeting.contact_phone_1">{{meeting.contact_phone_1 | tidyDelimiter }}<br></div>
    <div *ngIf="meeting.contact_email_1">{{meeting.contact_email_1 | tidyDelimiter }}<br></div>

    <br>
    <div *ngIf="meeting.formats_exploded"><i>{{'FORMATS' | translate}}:</i> {{meeting.formats_exploded }}<br></div>

    <div *ngIf="meetingType === 'regular'">
      <div *ngIf="getMeetingType(meeting) != 'TEMPCLOSED'">
        <div *ngIf="!meeting.virtual_meeting_link || isHybrid(meeting) === 'HYBRID'">
          <ion-button expand="block" (click)="openMapsLink(meeting.latitude , meeting.longitude)">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="map"> </ion-icon>&nbsp;{{'MAP' | translate}}
          </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="meetingType === 'virt'">
      <div *ngIf="meeting.comments">
        <ion-button expand="block" (click)="openLink(meeting.comments)">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon name="cloud"> </ion-icon>&nbsp;{{'VIRTUAL_LINK' | translate}}
        </ion-button>
      </div>
    </div>

    <div *ngIf="meeting.virtual_meeting_link">
      <ion-button expand="block" (click)="openLink(meeting.virtual_meeting_link)" class="ion-text-wrap">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="cloud"> </ion-icon>&nbsp;{{'VIRTUAL_LINK' | translate }}
      </ion-button>
    </div>

    <div *ngIf="meeting.phone_meeting_number">
        <a href="tel:{{meeting.phone_meeting_number}}" class="button button-outline button-positive">
          <ion-icon name="call" > </ion-icon>&nbsp;{{'PHONE_MEETING' | translate }}
        </a>
    </div>

  </ion-card-content>
</ion-card>