
ion-card {
    --background: #eeeeee;
    --color: #ffffff;
    border: 1px solid #4c8dff;
}

ion-card-header {
    --color: #00ff00;
}

ion-card-title {
    --color: #1d3030;
}

ion-card-subtitle {
    --color: #000000;
}

ion-card-content {
    color: #2F4F4F;
}