.mymodal {
	position: absolute !important;
	width: 95% !important;
	height: 95% !important;
	--max-height: 95% !important;
	top: 2.5% !important;
	left: 2.5% !important;

}

.mymodal .modal-wrapper {
  --border-radius: 25px !important;
	border-radius: 25px !important;
	border: 1px solid grey  !important;

}

ion-modal > div > ng-component > ion-content > div.scroll-content {
	

}