<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'MEETINGDETAILS' | translate}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let meeting of meetingList; let j = index">
    <ion-card text-wrap>

      <ion-card-header>
        <ion-card-title>{{meeting.meeting_name}}</ion-card-title>
        <ion-card-subtitle no-padding>
          <div ngSwitch="{{ meeting.weekday_tinyint }}">
            <div *ngSwitchCase="'1'" [ngClass]="'one'">
              <ion-badge color="sunday"><b>{{'SUNDAY' | translate}}{{ meeting.start_time_set  }} </b></ion-badge>
            </div>
            <div *ngSwitchCase="'2'" [ngClass]="'one'">
              <ion-badge color="monday"><b>{{'MONDAY' | translate}} {{ meeting.start_time_set }} </b></ion-badge>
            </div>
            <div *ngSwitchCase="'3'" [ngClass]="'one'">
              <ion-badge color="tuesday"><b>{{'TUESDAY' | translate}} {{ meeting.start_time_set }} </b></ion-badge>
            </div>
            <div *ngSwitchCase="'4'" [ngClass]="'one'">
              <ion-badge color="wednesday"><b>{{'WEDNESDAY' | translate}} {{ meeting.start_time_set }} </b></ion-badge>
            </div>
            <div *ngSwitchCase="'5'" [ngClass]="'one'">
              <ion-badge color="thursday"><b>{{'THURSDAY' | translate}} {{ meeting.start_time_set }} </b></ion-badge>
            </div>
            <div *ngSwitchCase="'6'" [ngClass]="'one'">
              <ion-badge color="friday"><b>{{'FRIDAY' | translate}} {{ meeting.start_time_set }} </b></ion-badge>
            </div>
            <div *ngSwitchCase="'7'" [ngClass]="'one'">
              <ion-badge color="saturday"><b>{{'SATURDAY' | translate}} {{ meeting.start_time_set  }} </b></ion-badge>
            </div>
            <div *ngSwitchDefault>Nothing Found.</div>
          </div>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <div *ngIf="isTempClosed(meeting)">
          <ion-chip  color="danger">
            <ion-label>Temporarily closed</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
        </div>

        <div *ngIf="meeting.location_text">{{meeting.location_text}}<br></div>
        <div *ngIf="meeting.location_street">{{meeting.location_street}}<br></div>
        <div *ngIf="meeting.location_city_subsection">{{meeting.location_city_subsection}}<br></div>
        <div *ngIf="meeting.location_neighbourhood">{{meeting.location_neighbourhood}}<br></div>
        <div *ngIf="meeting.location_municipality">{{meeting.location_municipality}}<br></div>
        <div *ngIf="meeting.location_sub_province">{{meeting.location_sub_province}}<br></div>
        <div *ngIf="meeting.location_province">{{meeting.location_province}}<br></div>
        <div *ngIf="meeting.location_code_1">{{meeting.location_code_1}}<br></div>
        <div *ngIf="meeting.location_info">{{meeting.location_info}}<br></div>
        <div *ngIf="meeting.comments">{{meeting.comments}}<br></div>
        <div *ngIf="meeting.contact_phone_1">{{meeting.contact_phone_1  }}<br></div>
        <div *ngIf="meeting.contact_email_1">{{meeting.contact_email_1  }}<br></div>
        <div *ngIf="meeting.train_lines">{{'TRAIN' | translate}} : {{meeting.train_lines  }}<br></div>
        <div *ngIf="meeting.bus_lines">{{'BUS' | translate}} : {{meeting.bus_lines  }}<br></div>
        <div *ngIf="meeting.formats"><i>{{'FORMATS' | translate}} : {{meeting.formats  }}</i><br></div>

        <div *ngIf="!meeting.virtual_meeting_link || isHybrid(meeting)">
          <ion-button expand="block" (click)="openMapsLink(v.latitude , meeting.longitude)">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="map"> </ion-icon>&nbsp;{{'MAP' | translate}}
          </ion-button>
        </div>

        <div *ngIf="meeting.virtual_meeting_link">
          <ion-button expand="block" (click)="openLink(meeting.virtual_meeting_link)">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="cloud"> </ion-icon>&nbsp;{{'VIRTUAL_LINK' | translate }}
          </ion-button>
        </div>

        <div *ngIf="meeting.virtual_meeting_link">
          <ion-button expand="block" *ngIf="meeting.phone_meeting_number" (click)="dialNum(meeting.phone_meeting_number)">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="call" > </ion-icon>&nbsp;{{'PHONE_MEETING' | translate }}
          </ion-button> 
        </div>

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>