<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'GOOGLE_MAPS' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-searchbar class="ion-no-padding" color="primary" placeholder="Tertiary" [debounce]="250" (ionInput)="updateSearchResults($event)" placeholder="search">
  </ion-searchbar>
</ion-header>

<ion-content style="--background: transparent;">
  <!-- Suggestions list with higher z-index -->
  <div class="suggestions-container">
    <ion-list class="ion-no-padding" [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  </div>

  <!-- Map container with transparent background -->
  <div class="map-container" style="background-color: transparent;">
    <capacitor-google-map id='map' style="background-color: transparent;"></capacitor-google-map>
  </div>
</ion-content>
