<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div *ngIf="countyName != '' ; else BMLT_List">
      <ion-title>{{ countyName }}</ion-title>
      <ion-button color="primary" slot="end" size="small" (click)="showCountyStructure()">Back</ion-button>
    </div>

    <ng-template #BMLT_List>
      <ion-title>
        {{'MEETINGLIST' | translate}}
      </ion-title>
    </ng-template>

  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div *ngIf="HTMLGrouping == 'counties'">
    <div *ngFor="let L1 of uniqueCounties; let i = index">

      <ion-item-divider sticky="true" (click)="getMeetingsByCounty(L1)" color="primary">
        <h3>{{ L1 }}</h3>
        <ion-icon size="large" color="secondary" slot="end" name="play"></ion-icon>
      </ion-item-divider>
    </div>
  </div>

  <div *ngIf="HTMLGrouping == 'meetings'">
    <div *ngIf = "isLoaded">
      <app-meeting-list [data]="meetingListCounty" meetingType='regular'></app-meeting-list>
    </div>
  </div>
  
</ion-content>
